VITE_BE_URL=http://localhost:3000
VITE_MEET_URL=http://sitoprenotazioneincontro.sito
VITE_SOCIAL_INSTAGRAM=https://instagram.com/tuoprofilo
VITE_SOCIAL_FACEBOOK=https://facebook.com/tuoprofilo
VITE_SOCIAL_YOUTUBE=https://youtube.com/tuocanale
VITE_SPONSOR_MATERA_URL=http://sitosponsor.it
VITE_SPONSOR_GIANNELLI_URL=http://sitosponsor.it
VITE_SPONSOR_INTERNO34_URL=http://sitosponsor.it
VITE_SPONSOR_GALLERY_URL=http://sitosponsor.it
